<footer class="bg-neutral-primary-soft rounded-base backdrop-blur-lg shadow mx-auto w-full md:w-[50%]">
    <div class="mx-auto p-4 flex flex-col md:flex-row items-center justify-center md:justify-between">  
      <span 
        class="text-sm text-body sm:text-center"
      >© 2023 
        <a 
          href="https://www.linkedin.com/in/sebastian-vasquez/"
          class="hover:underline"
        >
        Sebastián Vásquez
        </a>
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0">
          <li>
              <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mi</a>
          </li>
          <li>
              <a href="#contacto" class="hover:underline">Contacto</a>
          </li>
      </ul>
    </div>
</footer>